body {font-family:monospace}

.gameselect,.game {position:relative;margin:auto;background-color:#2f0923;border:5px solid #2f0923;height:400px;font-weight:bold;line-height:1.2em}
.gameselect {min-width:600px;display:inline-block}
.game {width:600px;}
#roominfo {color:white;width:425px;float:left;height:250px;padding-right:5px}
#inventory {padding:3px;background-color:#32619e;color:white;width:164px;float:left;height:239px}
#menu {width:594px;position:absolute;bottom:0}
.dummymenuitem {background-color:#32619e;color:yellow;width:100%;padding:3px}
.menuitem {background-color:yellow;color:black;width:100%;padding:3px;cursor:pointer;cursor:hand}
.menuitem:hover {color:white;background-color:#cc0000}
#gameend {left:100px;width:352px;margin-right:-396px;border:2px solid black;height:80px;margin-bottom:-124px;
          top:100px;text-align:center;position:relative;color:yellow;background-color:#32619e;padding:20px;display:none}
#gameendtext {margin-bottom:10px}
#main {color:white}

#error {left:100px;width:352px;margin-right:-396px;border:2px solid black;height:80px;margin-bottom:-124px;
          top:100px;text-align:center;position:relative;color:yellow;background-color:#32619e;padding:20px;display:none}

#roominfo a, #roominfo a:active, #roominfo a:link, #roominfo a:visited, #roominfo a:hover
    {text-decoration:underline}
#roominfo a, #roominfo a:active, #roominfo a:link, #roominfo a:visited
    {color:#FFFFFF}
#roominfo a:hover {color:88FF88}

