body {font-family:monospace}

.game {margin:auto;background-color:#2f0923;border:5px solid #2f0923;width:600px;height:400px;font-weight:bold}
#roominfo {color:white;width:430px;float:left;height:250px}
#inventory {padding:3px;background-color:blue;color:yellow;width:164px;float:left;height:239px}
#menu {width:594px;margin-top:253px}
.dummymenuitem {background-color:blue;color:yellow;width:100%;padding:3px}
.menuitem {background-color:blue;color:yellow;width:100%;padding:3px;cursor:pointer;cursor:hand}
.menuitem:hover {color:blue;background-color:yellow}
#gameend {left:100px;width:352px;margin-right:-396px;border:2px solid black;height:80px;margin-bottom:-124px;
          top:100px;text-align:center;position:relative;color:yellow;background-color:blue;padding:20px;display:none}
#gameendtext {margin-bottom:10px}
#main {color:white}
